/*!
 * CUSTOM STYLES
 * 2019 Panov A.P.
 */
html { font-size: 16px; -webkit-font-smoothing: antialiased; }

html, body { height: 100%; }

input, textarea, button { box-shadow: none; }

audio, canvas, iframe, img, svg, video { vertical-align: middle; }

textarea { resize: vertical; }

a:focus, input:focus, textarea:focus, button:focus { outline: none; }

ul, ol, li, dl, dt, dd, p { margin: 0; padding: 0; }

time { display: block; }

a { text-decoration: none; color: inherit; transition: color 0.2s; }
a:hover { color: #007bff; }

hr, .hr { height: 1px; margin: 2em 0; border: 0; background: #f2f2f2; }

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 { margin: 0 0 0.5rem; line-height: 1.1; }

h1, .h1 { font-size: 1.5em; letter-spacing: 0.04em; font-weight: 400; }
@media (min-width: 768px) { h1, .h1 { font-size: 1.75em; } }
@media (min-width: 992px) { h1, .h1 { font-size: 2.5em; } }

h2, .h2 { font-size: 1.38em; letter-spacing: 0.04em; font-weight: 600; }
@media (min-width: 768px) { h2, .h2 { font-size: 1.5em; } }

h3, .h3 { font-size: 1.13em; letter-spacing: 0.04em; font-weight: 600; }
@media (min-width: 768px) { h3, .h3 { font-size: 1.13em; } }

.content-style img, .content-style picture { display: block; max-width: 100%; height: auto; margin: 1em auto; }
.content-style a { text-decoration: underline; color: #007bff; }
.content-style a:hover { text-decoration: none; }
.content-style p { margin: 1rem 0; }
.content-style p:first-of-type { margin-top: 0; }
.content-style p:last-of-type { margin-bottom: 0; }
.content-style p img, .content-style p picture { float: right; margin: 0 0 0.5em 0.5em; }
.content-style ul { list-style: none; margin: 1rem 0; }
.content-style ul li { padding-left: 17px; position: relative; }
.content-style ul li:before { content: ''; width: 8px; height: 8px; border-radius: 50%; background-color: #007bff; position: absolute; top: 9px; left: 0; }
.content-style ol { margin: 1rem 0; counter-reset: olList1; }
.content-style ol li { list-style: none; padding-left: 17px; position: relative; }
.content-style ol li:before { position: absolute; top: 0px; left: -5px; counter-increment: olList1; content: counter(olList1) "."; }
.content-style ol ol { margin: 0; counter-reset: olList2; }
.content-style ol ol li { padding-left: 27px; }
.content-style ol ol li:before { counter-increment: olList2; content: counter(olList1) "." counter(olList2) "."; }
.content-style ol ol ol { margin: 0; counter-reset: olList3; }
.content-style ol ol ol li { padding-left: 37px; }
.content-style ol ol ol li:before { counter-increment: olList3; content: counter(olList1) "." counter(olList2) "." counter(olList3) "."; }
.content-style table { display: inline-block; border-spacing: 0; border-collapse: collapse; overflow-x: auto; max-width: 100%; text-align: left; vertical-align: top; background: linear-gradient(rgba(0, 0, 0, 0.15) 0, rgba(0, 0, 0, 0.15) 100%) 0 0, linear-gradient(rgba(0, 0, 0, 0.15) 0, rgba(0, 0, 0, 0.15) 100%) 100% 0; background-attachment: scroll, scroll; background-size: 1px 100%, 1px 100%; background-repeat: no-repeat, no-repeat; }
@media (min-width: 992px) { .content-style table { display: table; width: 100%; background: none; } }
.content-style table caption { font-size: .9em; background: #fff; }
.content-style table td, .content-style table th { padding: 0.4em .75em; vertical-align: top; border: 1px solid #2f3742; border-top: 0; border-left: 0; }
.content-style table td:first-child, .content-style table th:first-child { padding-left: 0; background-image: linear-gradient(to right, #38414e 50%, rgba(255, 255, 255, 0) 100%); background-size: 2px 100%; background-repeat: no-repeat; }
@media (min-width: 992px) { .content-style table td:first-child, .content-style table th:first-child { padding-left: .75em; } }
.content-style table td:last-child, .content-style table th:last-child { padding-right: 0; border-right: 0; background-image: linear-gradient(to left, #38414e 50%, rgba(255, 255, 255, 0) 100%); background-position: 100% 0; background-size: 2px 100%; background-repeat: no-repeat; }
@media (min-width: 992px) { .content-style table td:last-child, .content-style table th:last-child { padding-right: .75em; } }
.content-style table td:only-child, .content-style table th:only-child { background-image: linear-gradient(to right, #38414e 50%, rgba(255, 255, 255, 0) 100%), linear-gradient(to left, #fff 50%, rgba(255, 255, 255, 0) 100%); background-position: 0 0, 100% 0; background-size: 2px 100%, 2px 100%; background-repeat: no-repeat, no-repeat; }
.content-style table th { font-weight: 500; padding: 1em .75em; line-height: 1.2; }
.content-style code { background-color: #2f3742; border-radius: 3px; font-size: 85%; margin: 0; padding: .2em .4em; }

.b-soc__item, .btn { cursor: pointer; }
.b-soc__item:active, .btn:active { transform: translateY(1px); }

.browserupgrade { display: none; position: relative; z-index: 99999; margin: 0.2em 0; background: #ccc; color: #000; padding: 0.2em 0; text-align: center; }
.browserupgrade a { text-decoration: underline; color: #6b75d7; }
.browserupgrade a:hover { text-decoration: none; }
.IE .browserupgrade { display: block; }

img[data-object-fit="contain"] { -o-object-fit: contain; object-fit: contain; }

img[data-object-fit="cover"] { -o-object-fit: cover; object-fit: cover; }

img[data-object-fit="scale-down"] { -o-object-fit: scale-down; object-fit: scale-down; }

img[data-object-fit="none"] { -o-object-fit: none; object-fit: none; }

.fit-img { background-size: cover; background-position: center; background-repeat: no-repeat; }
.fit-img > img { opacity: 0; }

.svg-icon { width: 1em; height: 1em; display: inline-block; vertical-align: middle; }

.visuallyhidden { position: absolute; overflow: hidden; clip: rect(0 0 0 0); height: 1px; width: 1px; margin: -1px; padding: 0; border: 0; }

.responsive-img { position: relative; background-position: center; }
.responsive-img:before { content: ''; display: block; width: 100%; height: 0; padding-bottom: 100%; }
.responsive-img > img { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.responsive-img--2x1:before { padding-bottom: 50%; }
.responsive-img--3x2:before { padding-bottom: 66.67%; }
.responsive-img--4x3:before { padding-bottom: 75%; }
.responsive-img--14x9:before { padding-bottom: 64.29%; }
.responsive-img--16x9:before { padding-bottom: 56.25%; }

.b-soc__inner { margin: -10px -10px 0; display: inline-flex; vertical-align: middle; align-items: center; }
.b-soc__item { margin: 10px 10px 0; font-size: 18px; line-height: 1; }
.b-soc__item svg { fill: #007bff; }

.footnote { opacity: 0.5; }

.section { padding-top: 40px; padding-bottom: 40px; }
@media (min-width: 768px) { .section { padding-top: 75px; padding-bottom: 75px; } }

img:not([src]) { visibility: hidden; }

img[data-src], img[data-srcset] { display: block; min-height: 1px; }

.lazyload-error { background: url("../img/theme/no-img.png") center no-repeat; background-size: cover; }

.btn { display: inline-flex; align-items: center; justify-content: center; height: 40px; min-width: 195px; padding: 0 20px; border: 1px solid rgba(255, 255, 255, 0); border-radius: 15px; text-align: center; background: #F1F1F1; -webkit-user-select: none; -ms-user-select: none; user-select: none; letter-spacing: -0.04em; color: #212121; cursor: pointer; text-decoration: none; font-size: 18px; box-shadow: none; transition: background 0.1s, color 0.1s, border 0.1s, box-shadow .15s ease-in-out; }
.btn:hover { text-decoration: none; color: #000; }
.btn:focus { outline: 0; box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25); }
.btn svg { display: inline-block; vertical-align: middle; transition: all 0.1s; fill: #212121; }
.btn--small { min-width: 0; height: 2.25em; line-height: 2.06em; }
.btn--narrow { min-width: 0; }
.btn--hollow-white, .btn--hollow { background: none; }
.btn--hollow-white:hover, .btn--hollow:hover { background: #006fe6; color: #fff; border-color: rgba(0, 0, 0, 0); }
.btn--hollow-white:active, .btn--hollow:active { background: #007bff; color: #fff; border-color: rgba(0, 0, 0, 0); }
.btn--hollow-white svg, .btn--hollow svg { fill: #fff; }
.btn--hollow { border-color: #DDDDDD; }
.btn--hollow svg { fill: #212121; }
.btn--link, .btn--link:hover, .btn--link:active { background: none; border-color: rgba(0, 0, 0, 0); color: inherit; }
.btn--hollow-white { color: #fff; border-color: #fff; }
.btn--blue { background: #007bff; color: #fff; }
.btn--blue svg { fill: #fff; }
.btn--blue:hover { background: #006fe6; color: #fff; }
.btn--blue:active { background: #007bff; color: #fff; }
.btn--green { background: #28a745; color: #fff; }
.btn--green svg { fill: #fff; }
.btn--green:hover { background: #23923d; color: #fff; }
.btn--green:active { background: #28a745; color: #fff; }
.btn--green-gradient { border: none; background: linear-gradient(90deg, #28a745, #92d479); color: #fff; }
.btn--green-gradient svg { fill: #fff; }
.btn--green-gradient:hover { background: linear-gradient(90deg, #28a745, #92d479); color: #fff; }
.btn--green-gradient:active { background: linear-gradient(90deg, #23923d, #7ccb5e); color: #fff; }
.btn--red { background: #E94C3D; color: #fff; }
.btn--red svg { fill: #fff; }
.btn--red:hover { background: #e63726; color: #fff; }
.btn--red:active { background: #E94C3D; color: #fff; }
.btn--black { background: #212121; color: #fff; }
.btn--black svg { fill: #fff; }
.btn--black:hover { background: #080808; color: #fff; }
.btn--black:active { background: #212121; color: #fff; }
.btn[disabled] { opacity: 0.5; cursor: not-allowed; }
.btn--hover-hollow:hover { background: none; border-color: #DDDDDD; color: #212121; }
.btn--hover-hollow:hover svg { fill: #212121; }
.btn--hover-green:hover { background: #28a745; border-color: rgba(255, 255, 255, 0); color: #fff; }
.btn--hover-green:active { background: #23923d; }
.btn--hover-blue:hover { background: #007bff; border-color: rgba(255, 255, 255, 0); color: #fff; }
.btn--hover-blue:active { background: #006fe6; }
.btn--hover-black:hover { background: #000; border-color: rgba(255, 255, 255, 0); color: #fff; }
.btn--hover-black:active { background: #000; }

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus input:-webkit-autofill, textarea:-webkit-autofill, textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus, select:-webkit-autofill, select:-webkit-autofill:hover, select:-webkit-autofill:focus { -webkit-text-fill-color: #212121; -webkit-box-shadow: 0 0 0px 1000px transparent inset; -webkit-transition: background-color 5000s ease-in-out 0s; transition: background-color 5000s ease-in-out 0s; background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 174, 255, 0.04) 50%, rgba(255, 255, 255, 0) 51%, rgba(0, 174, 255, 0.03) 100%); }
.form-dark input:-webkit-autofill, .form-dark input:-webkit-autofill:hover, .form-dark input:-webkit-autofill:focus input:-webkit-autofill, .form-dark textarea:-webkit-autofill, .form-dark textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus, .form-dark select:-webkit-autofill, .form-dark select:-webkit-autofill:hover, .form-dark select:-webkit-autofill:focus { -webkit-text-fill-color: #fff; }

.form-group { margin-bottom: 14px; }
@media (min-width: 768px) { .form-group { margin-bottom: 20px; } }

.form-control { height: 40px; padding: 0 15px; border: solid #2f3742; border-width: 2px; display: block; border-radius: 15px; box-shadow: none; width: 100%; transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; }
.form-control:focus { outline: 0; box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25); }
.form-control::-webkit-input-placeholder { color: #E0E0E0; }
.form-control:-moz-placeholder { color: #E0E0E0; }
.form-control::-moz-placeholder { color: #E0E0E0; }
.form-control:-ms-input-placeholder { color: #E0E0E0; }
.form-control--light { background: #fff; border-color: #fff; }
.form-control--light:focus { border-color: #fff; }
.form-control.error { border-color: #E94C3D; }
.form-control.error:focus { box-shadow: 0 0 0 0.2rem rgba(233, 76, 61, 0.25); }

textarea.form-control { resize: vertical; height: auto; min-height: 95px; max-height: 400px; padding-top: 10px; padding-bottom: 10px; }

.select-style { display: block; width: 100%; position: relative; font-size: 1rem; margin: 0; }
.select-style--inline { display: inline-block; width: auto; }
.select-style:after { content: ''; position: absolute; top: 23px; right: 10px; width: 0; height: 0; border-style: solid; border-width: 6px 5px 0 5px; border-color: #212121 transparent transparent transparent; pointer-events: none; }
.IE .select-style:after { display: none; }
.select-style > select { padding: 0 30px 0 15px; border: solid #DDDDDD; border-width: 1px; border-radius: 0px; position: relative; background: none; width: 100%; height: 3.13em; outline: none; display: inline-block; -webkit-appearance: none; -moz-appearance: none; appearance: none; cursor: pointer; transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; }
.select-style > select:focus { outline: 0; border-color: #007bff; box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); }
.IE .select-style > select { padding-right: 0; }
.select-style--no-border > select { border: none; padding-left: 0; }
.select-style--dimmed > select { background: #F1F1F1; border-color: #F1F1F1; }
.select-style--dimmed > select:focus { border-color: #F1F1F1; }

.submit-result { display: none; }
.submit-result--error { color: #E94C3D; }
.submit-result--success { color: #28a745; }
.submit-result--type-bubble { position: fixed; bottom: 0; left: 0; z-index: 1060; padding: 13px 13px 12px; text-align: center; width: 100%; }
@media (min-width: 768px) { .submit-result--type-bubble { padding: 40px; } }
.submit-result--type-bubble.submit-result--error { background: #fef5f4; }
.submit-result--type-bubble.submit-result--success { background: #afecbd; }
.submit-result__message ~ p { display: none !important; }
.submit-result label { margin: 0; }

.row-form { margin-left: -8px; margin-right: -8px; }
.row-form .col, .row-form [class*="col-"] { padding-left: 8px; padding-right: 8px; }

span.error { color: #E94C3D; }

.file-upload { display: inline-flex; margin: 0; max-width: 100%; }
.file-upload__result { position: relative; display: flex; align-items: center; margin-left: 20px; width: calc(100% - 20px - 150px - 20px); }
@media (min-width: 768px) { .file-upload__result { width: calc(100% - 20px - 195px - 20px); } }
.file-upload__result-text { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.file-upload__btn { min-width: 0; flex-shrink: 0; width: 150px; }
@media (min-width: 768px) { .file-upload__btn { width: 195px; } }
.file-upload__del { visibility: hidden; opacity: 0; background: none; border: none; color: #E94C3D; font-size: 1.5rem; font-weight: bolder; }
.file-upload__del.visible { visibility: visible; opacity: 1; }

.ui-checkbox, .ui-radiobox { position: relative; display: inline-flex; flex-direction: column; padding: 5px 0 5px 24px; margin: 0; cursor: pointer; min-height: 24px; box-sizing: content-box; text-align: left; }
.ui-checkbox__icon, .ui-radiobox__icon { position: absolute; top: 0.35em; left: 0; display: block; width: 24px; height: 24px; background: #F1F1F1; transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out, background 0.2s; }
.ui-checkbox__icon:before, .ui-radiobox__icon:before { content: ''; position: absolute; display: block; }
.ui-checkbox__icon--white, .ui-radiobox__icon--white { background: #fff; }
.ui-checkbox:hover .ui-checkbox__icon:before, .ui-radiobox:hover .ui-checkbox__icon:before, .ui-checkbox:hover .ui-radiobox__icon:before, .ui-radiobox:hover .ui-radiobox__icon:before { opacity: 0.4; }
.ui-checkbox__input:active ~ .ui-checkbox__icon, .ui-checkbox__input:focus ~ .ui-checkbox__icon, .ui-radiobox__input:active ~ .ui-checkbox__icon, .ui-radiobox__input:focus ~ .ui-checkbox__icon, .ui-checkbox__input:active ~ .ui-radiobox__icon, .ui-checkbox__input:focus ~ .ui-radiobox__icon, .ui-radiobox__input:active ~ .ui-radiobox__icon, .ui-radiobox__input:focus ~ .ui-radiobox__icon { box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); }
.ui-checkbox.error .ui-checkbox__icon, .ui-checkbox.error .ui-radiobox__icon { box-shadow: 0 0 0 1px #E94C3D; }
.ui-checkbox__input:checked ~ .ui-checkbox__icon, .ui-radiobox__input:checked ~ .ui-checkbox__icon, .ui-checkbox__input:checked ~ .ui-radiobox__icon, .ui-radiobox__input:checked ~ .ui-radiobox__icon { background: #007bff; }
.ui-checkbox__input:checked ~ .ui-checkbox__icon:before, .ui-radiobox__input:checked ~ .ui-checkbox__icon:before, .ui-checkbox__input:checked ~ .ui-radiobox__icon:before, .ui-radiobox__input:checked ~ .ui-radiobox__icon:before { opacity: 1; }
.ui-checkbox__text, .ui-radiobox__text { margin-left: 0.8em; display: inline-block; }
.ui-checkbox > p, .ui-radiobox > p { display: block; order: 1; margin-left: 13px; font-size: 14px; }

.ui-checkbox__icon:before { content: ''; position: absolute; display: block; top: 6px; left: 6px; width: 12px; height: 8px; transform: rotate(-45deg); border: solid #fff; border-width: 0 0 3px 3px; opacity: 0; transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, opacity 0.1s; }

.ui-radiobox__icon { border-radius: 50%; }
.ui-radiobox__icon:before { content: ''; position: absolute; display: block; top: 0; bottom: 0; right: 0; left: 0; margin: auto; opacity: 0; width: 8px; height: 8px; background: #fff; transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, opacity 0.1s; border-radius: 50%; }
.ui-radiobox__input:checked + .ui-radiobox__icon:before { opacity: 1; }

.ui-switch { position: relative; display: inline-flex; flex-direction: column; padding: 5px 0 5px 50px; margin: 0; cursor: pointer; min-height: 22px; box-sizing: content-box; text-align: left; }
.ui-switch__icon { display: block; position: absolute; top: 5px; left: 0; height: 22px; width: 50px; border-radius: 15px; background-color: #E0E0E0; cursor: pointer; transition: all 0.2s ease-out; }
.ui-switch__icon:before { content: ''; display: block; position: absolute; top: -1px; left: -1px; height: 24px; width: 24px; border-radius: 50%; background-color: #2f3742; border: 2px solid #E0E0E0; transition: all 0.2s ease-out; transform: scale(0.9); }
.ui-switch__input:checked ~ .ui-switch__icon { background-color: #007bff; }
.ui-switch__input:checked ~ .ui-switch__icon:before { transform: translateX(28px); border-color: #2f3742; }
.ui-switch__text { margin-left: 0.8em; display: inline-block; }

.tingle-modal { background-color: rgba(56, 65, 78, 0.8); -webkit-user-select: auto; -ms-user-select: auto; user-select: auto; }
@media (min-width: 768px) { .tingle-modal { padding: 40px 0; overflow-y: auto; } }
.tingle-modal--gallery { padding: 0 0 60px; }
@media (min-width: 768px) { .tingle-modal--gallery { padding: 20px 0 20px; } }
.tingle-modal__close { display: flex; align-items: center; justify-content: center; background-color: #007bff; line-height: 1; font-size: 21px; }
@media (min-width: 768px) { .tingle-modal__close { width: 3rem; height: 3rem; background: none; right: 10px; } }
@media (min-width: 768px) { .tingle-modal--alert .tingle-modal__close { display: none; } }
@media (max-width: 767.98px) { .tingle-modal--gallery .tingle-modal__close { top: auto; bottom: 0; } }
.tingle-modal__closeIcon { position: relative; bottom: 0.07em; font-size: 2em; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }
.tingle-modal__closeLabel { font-size: 1em; }
.tingle-modal__loader { padding: 40px 0; color: #fff; font-size: 48px; }
.tingle-modal__ajax-error { padding: 40px 0; color: #fff; font-size: 18px; }
.tingle-modal__ajax-error .fa { color: #E94C3D; }

.tingle-modal-box { position: static; width: 100%; background: none; border-radius: 0; }
.tingle-modal--gallery .tingle-modal-box { height: 100%; }
.tingle-modal-box__content { background: none; padding: 0; cursor: pointer; }
@media (min-width: 768px) { .tingle-modal-box__content { padding: 0 50px; } }
.tingle-modal--gallery .tingle-modal-box__content { height: 100%; }

.modal { position: relative; background-color: #38414e; color: #fff; width: 100%; max-width: 790px; margin: 0 auto; box-shadow: 0 5px 25px rgba(0, 0, 0, 0.16); cursor: auto; padding: 30px 15px; }
@media (min-width: 768px) { .modal { padding: 45px 30px; border-radius: 15px; } }
@media (min-width: 992px) { .modal { padding: 45px 50px; } }
@media (min-width: 768px) { .modal--alert { max-width: 550px; } }
.modal__close { display: none; align-items: center; justify-content: center; position: absolute; z-index: 1; top: 0; right: 0; margin-top: -19px; margin-right: -19px; width: 38px; height: 38px; text-align: center; cursor: pointer; font-size: 36px; color: #fff; background-color: #E94C3D; font-family: sans-serif; transition: all 0.1s; }
@media (min-width: 768px) { .modal__close { display: flex; } }
.modal__close:hover { background: #e63726; color: #fff; }
.modal__close:active { background: #E94C3D; color: #fff; }
.modal__close--pos-gallery { display: none; }

.modal-gallery { position: relative; height: 100%; padding: 0 0 40px; }
@media (min-width: 768px) { .modal-gallery { padding: 40px 0; } }
.modal-gallery__slider { height: 100%; }
.modal-gallery__img-wrap { height: 100%; }
.modal-gallery__img-wrap:before { display: none; }
.modal-gallery__footer { position: absolute; z-index: 1; bottom: 0; left: 0; right: 0; padding: 0 0 10px; color: #fff; }
@media (min-width: 768px) { .modal-gallery__footer { padding-bottom: 0; } }
.modal-gallery__footer-inner { display: flex; align-items: flex-end; }
.modal-gallery__title { flex-basis: 0; flex-grow: 1; max-width: 100%; width: 100%; min-height: 1px; }
.modal-gallery__paging { flex: 0 0 auto; width: auto; max-width: none; min-height: 1px; }
.modal-gallery .swiper-button-prev, .modal-gallery .swiper-button-next { display: none; opacity: 0.6; background-size: 100% 100%; width: 25px; height: 25px; margin-top: -12px; }
@media (min-width: 768px) { .modal-gallery .swiper-button-prev, .modal-gallery .swiper-button-next { width: 27px; height: 44px; margin-top: -22px; } }
.modal-gallery .swiper-button-prev:focus, .modal-gallery .swiper-button-next:focus { outline: none; }
.modal-gallery .swiper-button-prev:hover, .modal-gallery .swiper-button-next:hover { opacity: 1; }
.modal-gallery .swiper-container-initialized .swiper-button-prev, .modal-gallery .swiper-container-initialized .swiper-button-next { display: block; }
.modal-gallery .swiper-container-initialized .swiper-button-disabled { display: none; }

.wrap-site { min-height: 100%; min-width: 320px; position: relative; z-index: 0; width: 100%; overflow: hidden; display: flex; flex-flow: column; background-color: #38414e; color: #fff; }
.wrap-site__bg { z-index: -1; position: fixed; left: 0; top: 0; height: 100%; width: 100%; background-position: center; background-repeat: no-repeat; background-size: cover; }
.wrap-site__bg:after { content: ''; display: block; width: 100%; height: 100%; background-color: rgba(56, 65, 78, 0.9); }

.main { position: relative; flex: 1 0 auto; }

.wrap, .wrap-fluid { width: 100%; padding-left: 12px; padding-right: 12px; margin-left: auto; margin-right: auto; }

.wrap { max-width: 1200px; }

.nav-showed { overflow: hidden; }

.header { background: #232830; padding: 5px 0 10px; }
@media (min-width: 576px) { .header { padding: 5px 0; } }
.header__logo { fill: #fff; font-size: 60px; }
.header__logo:hover { fill: #007bff; }
.header__logo svg { display: block; transition: all 0.2s; }
.header__title { font-size: 22px; font-weight: 600; }

.top-nav { position: fixed; z-index: 1030; top: 0; left: 0; bottom: 0; right: 0; background-color: rgba(56, 65, 78, 0.95); opacity: 0; visibility: hidden; transition: all .2s; display: flex; align-items: center; justify-content: center; }
@media (min-width: 992px) { .top-nav { position: static; opacity: 1; visibility: visible; background: none; display: block; } }
.nav-showed .top-nav { opacity: 1; visibility: visible; }
.top-nav__scroll { overflow: hidden; overflow-y: auto; max-height: 100%; padding: 0 20px; }
@media (min-width: 992px) { .top-nav__scroll { overflow: visible; padding: 0; max-height: none; } }
.top-nav__list { list-style: none; }
@media (min-width: 992px) { .top-nav__list { display: flex; align-items: center; justify-content: space-between; margin: 0 -10px; } }
.top-nav__item { margin: 0 0 10px; }
@media (min-width: 992px) { .top-nav__item { margin: 0 10px; } }
.top-nav__link { text-transform: uppercase; }
@media (min-width: 768px) { .top-nav__link { letter-spacing: 0.04em; } }
.top-nav__link:hover { text-decoration: none; }

.menu-trigger__icon, .menu-trigger__icon:before, .menu-trigger__icon:after { display: block; width: 22px; height: 2px; border-radius: 2px; background-color: #fff; }

.menu-trigger { display: block; position: relative; width: 42px; height: 42px; border: 1px solid #38414e; border-radius: 15px; background: none; padding: 0; text-transform: uppercase; cursor: pointer; }
.menu-trigger:after { content: ''; display: block; position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.menu-trigger--pos-header { z-index: 1031; }
.menu-trigger__icon { display: block; position: absolute; top: 50%; margin: -1px auto 0; left: 0; right: 0; transition: transform 0.2s, background 0.2s, width 0.2s; }
.menu-trigger__icon:before, .menu-trigger__icon:after { position: absolute; content: ''; transition: top 0.2s 0.2s, background 0.2s, transform 0.2s, bottom 0.2s 0.2s, width 0.2s; }
.menu-trigger__icon:before { top: -6px; }
.menu-trigger__icon:after { bottom: -6px; }
.nav-showed .menu-trigger__icon { transform: rotate(45deg); transition: transform 0.2s 0.2s, background 0.2s, width 0.2s 0.2s; }
.nav-showed .menu-trigger__icon:before, .nav-showed .menu-trigger__icon:after { transition: top 0.2s, background 0.2s, bottom 0.2s, transform 0.2s 0.2s, width 0.2s 0.2s; }
.nav-showed .menu-trigger__icon:before { top: 0; }
.nav-showed .menu-trigger__icon:after { bottom: 0; transform: rotate(90deg); }

.footer { background: #232830; padding: 12px 0; color: #fff; font-size: 14px; }
.footer__github { display: block; fill: #fff; }
.footer__github > svg { display: block; }

.donate-btn:hover { color: inherit; }
.donate-btn__icon { fill: #fff; }
.donate-btn:hover .donate-btn__icon { animation: beatHeart 1s infinite; fill: #E94C3D; }

.stats-table { background-color: rgba(56, 65, 78, 0.7); margin-left: -12px; margin-right: -12px; }
@media (min-width: 1200px) { .stats-table { margin: 0; } }
.stats-table .is-highlighted, .stats-table tr:hover td { background-color: #2f3742; }
.stats-table table td:hover { background-color: #293039; }
.stats-table table th:first-child, .stats-table table td:first-child { padding-left: 12px; }
.stats-table table th:last-child, .stats-table table td:last-child { padding-right: 12px; }
@media (min-width: 1200px) { .stats-table table th:last-child, .stats-table table td:last-child { padding-right: 0; } }
.stats-table table td[data-sort="0"] { color: rgba(255, 255, 255, 0.3); }
.stats-table table th { position: relative; cursor: pointer; -webkit-user-select: none; -ms-user-select: none; user-select: none; }
.stats-table table th:after { content: ''; position: absolute; right: 5px; bottom: 5px; font-size: 6px; width: 0; height: 0; border-style: solid; border-width: 1em 0.8em 0 0.8em; border-color: #fff transparent transparent transparent; opacity: 0; }
.stats-table table th[aria-sort]:after { opacity: 0.5; }
.stats-table table th.is-highlighted:after, .stats-table table th:hover:after { opacity: 1; }
.stats-table table th[aria-sort="ascending"]:after { border-width: 0 0.8em 1em 0.8em; border-color: transparent transparent #fff transparent; }
.stats-table__grow-list { cursor: help; }
.stats-table__grow-list:focus { outline: none; }
.stats-table__list-icon { fill: #fff; opacity: 0.3; transition: all 0.1s; }
.tippy-active .stats-table__list-icon { opacity: 1; }
.stats-table__dino-icon { font-size: 28px; flex-shrink: 0; transition: all 0.2s; transform-origin: left center; }
@media (min-width: 768px) { .stats-table__dino-icon { transform-origin: center; } }
.stats-table tr:hover .stats-table__dino-icon { transform: scale(1.5); }

.grow-list__list { list-style: none; }

.news-feed__list { list-style: none; }
.news-feed__item { margin-top: 30px; opacity: 0; transform: scale(0.95); transition: all 0.2s; }
.news-feed__item.animated { opacity: 1; transform: scale(1); }
.news-feed__show-more { display: none; }
.news-feed--loaded .news-feed__show-more { display: block; }
.news-feed--loaded .news-feed__loader { display: none; }
.news-feed__loader-img-wrap { width: 280px; position: relative; padding: 2px; border-radius: 50%; box-shadow: 0 0 10px #38414e; }
.news-feed__loader-img-wrap:after { content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: radial-gradient(circle, rgba(255, 255, 255, 0) 0%, #38414e 65%); border-radius: 50%; }
.news-feed__loader-img { border-radius: 50%; overflow: hidden; }
.news-feed__loader-img img { display: block; width: 100%; }

.item-feed { padding: 20px 12px; background-color: #2f3742; margin-left: -8px; margin-right: -8px; border-radius: 15px; }
@media (min-width: 768px) { .item-feed { padding: 20px; margin-left: 0; margin-right: 0; } }
.item-feed__title a { text-decoration: underline; }
.item-feed__info { opacity: 0.4; fill: #fff; }
.item-feed__content { max-height: 300px; overflow: hidden; }
.item-feed--full-view .item-feed__content { max-height: none; }
.item-feed__view-more { position: relative; height: 40px; margin-top: -40px; background: linear-gradient(0deg, #2f3742 40%, rgba(255, 255, 255, 0) 100%); }
.item-feed--full-view .item-feed__view-more { margin-top: 10px; }
.item-feed__btn-more { background-color: #2f3742; color: #fff; border-color: #38414e; }
.item-feed__btn-more span:nth-child(2) { display: none; }
.item-feed--full-view .item-feed__btn-more span:nth-child(1) { display: none; }
.item-feed--full-view .item-feed__btn-more span:nth-child(2) { display: block; }

.sharedFilePreviewYouTubeVideo { position: relative; }
.sharedFilePreviewYouTubeVideo > img { display: block; width: 100%; }
.sharedFilePreviewYouTubeVideo > iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.map-settings { cursor: pointer; -webkit-user-select: none; -ms-user-select: none; user-select: none; background-color: #2f3742; display: flex; align-items: center; justify-content: center; }
.map-settings--pos-map { position: absolute; z-index: 1; right: 0; width: 40px; height: 40px; border-radius: 15px 15px 0 0; top: -40px; }
@media (min-width: 768px) { .map-settings--pos-map { top: -6px; border-radius: 0 0 15px 15px; left: 50%; margin-left: -20px; right: auto; } }
.map-settings:focus { outline: none; }
.map-settings__icon { fill: #007bff; transition: all 0.2s; }
.tippy-active .map-settings__icon { transform: rotate(45deg); }
.map-settings__icon svg { display: block; width: 1.5em; height: 1.5em; }
.map-settings__icon:focus { outline: none; }
.map-settings__content { text-align: left; }
.map-settings__list { list-style: none; }
.map-settings__item + .map-settings__item { margin-top: 10px; }

.map { position: relative; z-index: 1; border: 10px solid #2f3742; border-radius: 15px; margin: 0 -22px; }
@media (min-width: 768px) { .map { margin: 0; } }
.map__layout--thenyaw:before { padding-bottom: 91.43%; }
.map__img { display: block; max-width: 100%; }
.map__markers { list-style: none; }
.map__marker { position: absolute; font-size: 22px; cursor: pointer; }
@media (min-width: 768px) { .map__marker { font-size: 40px; } }
.map__marker:hover { z-index: 1; }
.map__marker:focus { outline: none; }
.map__player-icon, .map__marker-icon { position: absolute; bottom: 100%; left: 50%; width: 1em; height: 1em; margin-left: -0.5em; transition: all 0.2s ease; }
.map__player-icon svg, .map__marker-icon svg { display: block; transition: .2s; }
.map__player-icon:focus, .map__marker-icon:focus { outline: none; }
.map__player-icon { border-radius: 50%; background-color: rgba(255, 255, 255, 0.3); margin-bottom: -0.5em; animation: bouncingPoint 1.5s linear infinite; }
.map__player-icon:hover { box-shadow: 0 0 0 2px #E94C3D; animation: none; }
.map__player-icon:hover svg { transform: scale(0.2); }
.map__marker-icon svg { fill: #cddc39; }
.map__marker-icon:hover svg { transform: scale(0.8); transform-origin: bottom center; fill: #e63726; }
.tippy-active .map__marker-icon { transform: scale(0); }
.map--hide-markers .map__marker-icon { visibility: hidden; opacity: 0; }
.map--invisible-markers .map__marker-icon { opacity: 0.2; }
.map__cursor-position { position: absolute; z-index: 1060; margin-top: 10px; padding: 0 5px; border-radius: 15px; background-color: rgba(255, 255, 255, 0.8); color: #212121; white-space: nowrap; font-size: 12px; text-align: center; min-width: 115px; margin-left: -58px; }
@media (min-width: 1200px) { .map__cursor-position { transform: none; margin-left: 10px; } }
.map__cursor-position:after { content: ''; position: absolute; bottom: 100%; left: 50%; margin-left: -5px; width: 0; height: 0; border-style: solid; border-width: 0 5px 6px 5px; border-color: transparent transparent rgba(255, 255, 255, 0.8) transparent; }
@media (min-width: 1200px) { .map__cursor-position:after { display: none; } }

.user-coords { padding: 20px; border-radius: 15px; background-color: #2f3742; }
@media (min-width: 768px) { .user-coords { height: 80px; } }
.user-coords__inner.headroom { padding: 0.1px 0; }
@media (min-width: 768px) { .user-coords__inner.headroom--not-top { position: fixed; z-index: 1030; top: 0; left: 12px; right: 12px; max-width: 1176px; margin: 0 auto; width: calc(100% - 24px); padding: 10px 20px; background-color: #2f3742; } }
.user-coords__input { text-align: center; width: 100%; }
@media (min-width: 768px) { .user-coords__input { width: 100px; } }
@media (min-width: 992px) { .user-coords__input { width: 120px; } }
.user-coords__btn { min-width: 0; padding: 0 10px; }
@media (min-width: 992px) { .user-coords__btn { min-width: 180px; } }
.user-coords__btn--reset { color: #E94C3D; padding: 0; min-width: 0; }
.user-coords__btn--reset:hover { color: #E94C3D; }
.user-coords__btn--reset span { font-size: 24px; display: block; line-height: 1; font-family: sans-serif; margin-right: 5px; position: relative; top: 0.07em; }

.marker-tooltip { text-align: left; }
.marker-tooltip__title { font-size: 18px; font-weight: 500; }
.marker-tooltip__img-link svg { font-size: 32px; }
.marker-tooltip__img-link:nth-child(n+2) { display: none; }

@keyframes beatHeart { 0% { transform: scale(1); }
  25% { transform: scale(1.1); }
  40% { transform: scale(1); }
  60% { transform: scale(1.1); }
  100% { transform: scale(1); } }
@keyframes bouncingPoint { from,
  20%,
  53%,
  80%,
  to { animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); transform: translate3d(0, 0, 0); }
  40%,
  43% { animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06); transform: translate3d(0, -5px, 0); }
  70% { animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06); transform: translate3d(0, -3px, 0); }
  90% { transform: translate3d(0, -1px, 0); } }



/*# sourceMappingURL=style.css.map */
