extends _layout
block title
	title The Isle - info: 404
block content
	section.section
		.wrap
			.h1.text-center 404
			.my-4.text-center This page cant' be founded
			p.text-center
				a.btn.btn--hollow-white(href="index.html") Main page