- var href = 'javascript:void(0)';
- var img = 'data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7';
- var DATE = new Date();
- var time = DATE.getTime();
block vars
include components/_index
include components/layout/_banner
doctype html
html.no-js
	head
		include components/layout/_google-analysrics
		meta(charset='utf-8')
		block title
			title dev
		meta(name='description' content='')
		meta(name='viewport' content='width=device-width, initial-scale=1')
		include components/layout/_favicon
		meta(name="theme-color" content="#2f3742")
		link(rel="shortcut icon" href="favicon.ico" type="image/x-icon")
		link(rel="icon" href="favicon.ico" type="image/x-icon")
		//- styles
		link(rel="stylesheet", href="styles/vendors.css")
		link(rel="stylesheet", href="styles/style.css?3213122")
		block style
		block script
	body
		.tingle-content-wrapper(block="wrap-site" class=wrapClass)
			.browserupgrade
				| You are using an <strong>outdated</strong> browser. Please <a href="//browsehappy.com/">upgrade your browser</a> to improve your experience and security.

			div.lazyload(elem="bg" data-bg="url(img/media/bg-1.jpg)")
			block header
				+banner
				+header
			main(block="main")
				block content
			block footer
				+footer

		script(src="https://polyfill.io/v3/polyfill.min.js?features=Promise%2CObject.assign%2CArray.from%2CURLSearchParams")
		script(src="scripts/vendors.js?3213122")
		script(src="scripts/main.js?3213122")
		block scripts
