extends _layout-map
block vars
	-var mapName = 'thenyaw';
	-var mapSize = {x: 745, y: 675};
block title
	title The Isle - info: Thenyaw Island map
block map-title
	h1.mb-5.text-center Thenyaw Island map
block map-markers
	+marker({
		title: 'Great lake',
		lat: '-218.8',
		lng: '-100.6',
		posLeft: '22.4',
		posTop: '35.5',
		gallery: [
			{
				title: 'Urrr',
				url: GDExport+'1RmfSQlCXQG_rIzBbAQW8BkxLJ4-yXWsJ'
			}
		]
	})

	+marker({
		title: 'Paradise',
		lat: '-142.1',
		lng: '289.2',
		posLeft: '32.6',
		posTop: '92.8',
	})

	+marker({
		title: 'West Lake',
		lat: '-253.6',
		lng: '-6.4',
		posLeft: '17.7',
		posTop: '48.9',
	})

	+marker({
		title: 'Radio tower',
		lat: '-246.3',
		lng: '84.3',
		posLeft: '18.2',
		posTop: '59.2',
		gallery: [
			{
				title: '',
				url: GDExport+'1p0ILHWmLf_y2XQ9a1brUz3nW83a2MjlS'
			},{
				title: '',
				url: GDExport+'1NU0veAjmMtvUh_5jEXsPbInoxBs7U20a'
			},{
				title: '',
				url: GDExport+'1iCIDgXvyN6uiEmR0yPmU0-rKptsu7Wu1'
			}
		]
	})

	+marker({
		title: 'Splinter pond',
		lat: '-29.5',
		lng: '-139.2',
		posLeft: '48.2',
		posTop: '29.4',
	})

	//-
		+marker({
			title: 'Canyon rock',
			lat: '-93.88',
			lng: '-158.4',
			posLeft: '38.4',
			posTop: '23.5',
		})

	+marker({
		title: 'Canyon first pool',
		lat: '-95.1',
		lng: '-205',
		posLeft: '39.1',
		posTop: '19.2',
	})

	+marker({
		title: 'Swamp',
		lat: '152',
		lng: '78',
		posLeft: '71.2',
		posTop: '61.7',
		gallery: [
			{
				title: 'Para family',
				url: GDExport+'1BKZIQpgez3RrNOyGdHCXEqTz46bL85lB'
			}
		]
	})

	+marker({
		title: 'Lighthouse',
		lat: '241',
		lng: '194',
		posLeft: '85.7',
		posTop: '76.9',
		gallery: [
			{
				title: '',
				url: GDExport+'1o2IFGJWTefqTlxdfBcQa9YgXWY6cSpNU'
			},{
				title: 'View from afar',
				url: GDExport+'1DDGr9g_AZp9TGkvqMcEh4uUyjrB3qugq'
			}
		]
	})

	+marker({
		title: 'Lava room',
		lat: '-112.5',
		lng: '-233.2',
		posLeft: '35.7',
		posTop: '14.7',
		gallery: [
			{
				title: 'Fire dragon',
				url: GDExport+'1E4bcdqHxWNUBC7ryOYdT5Gg8IbewYVpG'
			},{
				title: 'Lava river',
				url: GDExport+'1bS6ScMKYZLCMqbwBG-2L0Pj8-Pl9qa3P'
			}
		]
	})

	+marker({
		title: 'Hermit',
		lat: '-230',
		lng: '182',
		posLeft: '20.4',
		posTop: '76.4',
		gallery: [
			{
				title: 'Cera near lake',
				url: GDExport+'1a-Q5y4XQr3LiwrrtF3yd35YNGbO2Dc5M'
			},{
				title: '',
				url: GDExport+'1IOkdP6awo8Uvi8wmvn8qWit09z7dSoVh'
			},{
				title: '',
				url: GDExport+'10Tm_BwYS7D0jtC9CyGEyqoOGr7Ar45MC'
			}
		]
	})

	+marker({
		title: 'Waterhole',
		lat: '146',
		lng: '-81',
		posLeft: '72.5',
		posTop: '38',
	})

	//-
		+marker({
			title: 'Map center',
			lat: '0',
			lng: '0',
			posLeft: '50',
			posTop: '50',
		})
