.map-settings {
	cursor: pointer;
	user-select: none;
	background-color: $color-main-2;

	display: flex;
	align-items: center;
	justify-content: center;

	&--pos-map{
		position: absolute;
		z-index: 1;
		right: 0;
		width: 40px;
		height: 40px;
		border-radius: 15px 15px 0 0;
		top: -40px;


		@include media-breakpoint-up(md) {
			top: -6px;
			border-radius: 0 0 15px 15px;
			left: 50%;
			margin-left: -20px;
			right: auto;
		}

	}

	&:focus{
		outline: none;
	}

	&__icon{
		fill: $color-blue;
		transition: all 0.2s;
		.tippy-active &{
			transform: rotate(45deg);
		}

		svg {
			display: block;
			width: 1.5em;
			height: 1.5em;
		}

		&:focus{
			outline: none;
		}
	}

	&__content{
		text-align: left;
	}

	&__list{
		list-style: none;
	}
	&__item{
		& + & {
			margin-top: 10px;
		}
	}
}

.map {
	position: relative;
	z-index: 1;
	border: 10px solid $color-main-2;
	border-radius: 15px;
	margin: 0 -22px;
	@include media-breakpoint-up(md) {
		margin: 0;
	}

	&__layout{
		&--thenyaw{
			&:before{
				padding-bottom: cp(864, 945);
			}
		}
	}

	&__img{
		display: block;
		max-width: 100%;
	}

	&__markers{
		list-style: none;
	}
	&__marker{
		position: absolute;
		font-size: 22px;
		cursor: pointer;

		@include media-breakpoint-up(md) {
			font-size: 40px;
		}

		&:hover {
			z-index: 1;
		}

		&:focus{
			outline: none;
		}
	}
	&__player-icon,
	&__marker-icon{
		position: absolute;
		bottom: 100%;
		left: 50%;
		width: 1em;
		height: 1em;
		margin-left: -0.5em;
		transition: all 0.2s ease;

		&:focus{
			outline: none;
		}
	}
	&__player-icon{}
	&__marker-icon{

		svg{
			display: block;
			transition: all 0.2s;
			fill: $color-lemon;
		}

		&:hover{

			svg {
				transform: scale(0.8);
				transform-origin: bottom center;
				fill: darken($color-red, 5%);
			}
		}

		.tippy-active &{
			transform: scale(0);
		}

		.map--hide-markers &{
			visibility: hidden;
			opacity: 0;
		}
		.map--invisible-markers &{
			opacity: 0.2;
			&:hover{
				// opacity: 1;
			}
		}
	}

	&__cursor-position{
		position: absolute;
		z-index: $zindex-popover;
		margin-top: 10px;
		padding: 0 5px;
		border-radius: 15px;
		background-color: rgba(#fff, 0.8);
		color: $color-text;
		white-space: nowrap;
		font-size: 12px;
		text-align: center;
		min-width: 115px;
		margin-left: -58px;

		@include media-breakpoint-up(xl) {
			transform: none;
			margin-left: 10px;
		}
		&:after{
			content: '';
			position: absolute;
			bottom: 100%;
			left: 50%;
			margin-left: -5px;

			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 5px 6px 5px;
			border-color: transparent transparent rgba(#fff, 0.8) transparent;
			@include media-breakpoint-up(xl) {
				display: none;
			}

		}
	}
}

.user-coords {
	padding: 20px;
	border-radius: 15px;
	background-color: $color-main-2;
	@include media-breakpoint-up(md) {
		height: 80px;
	}

	&__inner{
		&.headroom {
			padding: 0.1px 0;
		}
		&.headroom--not-top {
			@include media-breakpoint-up(md) {
				position: fixed;
				z-index: $zindex-fixed;
				top: 0;
				left: 12px;
				right: 12px;
				max-width: 1176px;
				margin: 0 auto;
				width: calc(100% - 24px);

				padding: 10px 20px;
				background-color: $color-main-2;
				// border-radius: 15px;
			}
		}
	}

	&__input{
		text-align: center;
		width: 100%;
		@include media-breakpoint-up(md) {
			width: 100px;
		}
		@include media-breakpoint-up(lg) {
			width: 120px;
		}
	}
	&__btn{
		min-width: 0;
		padding: 0 10px;
		@include media-breakpoint-up(lg) {
			min-width: 180px;
		}
		&--reset{
			color: $color-red;
			padding: 0;
			min-width: 0;
			&:hover{
				color: $color-red;
			}

			span {
				font-size: 24px;
				display: block;
				line-height: 1;
				font-family: sans-serif;
				margin-right: 5px;
				position: relative;
				top: 0.07em;
			}
		}
	}
}

.marker-tooltip {
	text-align: left;

	&__title{
		font-size: 18px;
		font-weight: $fw-medium;
	}

	&__images{}
	&__img-link{
		svg {
			font-size: 32px;
		}
		&:nth-child(n+2) {
			display: none;
		}
	}
}