.stats-table {
	tr {
		&:hover{
			td {
				background-color: darken($color-main-2, 3%);
			}
		}
	}

	&__grow-list{
		cursor: help;

		&.tippy-active {}

		&:focus{
			outline: none;
		}
	}

	&__list-icon{
		fill: #fff;
		opacity: 0.3;
		transition: all 0.1s;

		.tippy-active &{
			opacity: 1;
		}
	}

	&__dino-icon {
		font-size: 28px;
		flex-shrink: 0;
		transition: all 0.2s;
		transform-origin: left center;

		@include media-breakpoint-up(md) {
			transform-origin: center;
		}

		.stats-table tr:hover & {
			transform: scale(1.5);
		}
	}
}

.grow-list {
	&__list{
		list-style: none;
	}
}