.marker-tooltip {
	text-align: left;

	&__title{
		font-size: 18px;
		font-weight: $fw-medium;
	}

	&__images{}
	&__img-link{
		svg {
			font-size: 32px;
		}
		&:nth-child(n+2) {
			display: none;
		}
	}
}
