mixin banner
	div(block="banner")
		.wrap.content-style
			| ℹ️ You can find the updates continuation here -#{' '}
			a(href="https://eldevia.github.io/the-isle-info" target="_blank") https://eldevia.github.io/the-isle-info
