mixin footer
	footer(block="footer")
		.wrap
			.row.align-items-center.text-center
				.col-sm.text-sm-left
					-var currentYear = (DATE.getYear() - 100 + 2000)
					div(elem="copyright") © #{currentYear} MIT License

				.col-sm-auto.my-2.my-sm-0
					a.d-inline-flex.align-items-center(block="donate-btn" href="//paypal.me/antroll" target="_blank" data-tippy-content="via Paypal" data-tippy-placement="right") Support author #[+svg('heart').ml-2(elem="icon")]

				.col-sm.text-sm-right
					.d-inline-flex.align-items-center(elem="created") Made by -
						a.flex-shrink-0.ml-1(href="https://github.com/Antroll" target="_blank") Antroll
						a.ml-3.flex-shrink-0(elem="github" href="https://github.com/Antroll/the-isle-info" target="_blank" data-tippy-content="Repository on Github")
							+svg('github')

